ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8000

POSTGRES_DB=fooddelivery
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=fooddelivery;Username=postgres;Password=postgres

RABBITMQ_DEFAULT_USER=fooddelivery
RABBITMQ_DEFAULT_PASS=fooddelivery

RabbitMq__Host=rabbitmq
RabbitMq__Username=fooddelivery
RabbitMq__Password=fooddelivery
