ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8000

ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=YourStrong!Passw0rd

ConnectionStrings__DefaultConnection=Server=mssql,1433;Database=fooddelivery;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True

RABBITMQ_DEFAULT_USER=fooddelivery
RABBITMQ_DEFAULT_PASS=fooddelivery

RabbitMq__Host=rabbitmq
RabbitMq__Username=fooddelivery
RabbitMq__Password=fooddelivery

JaegerEndpoint=http://jaeger:4317