ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8000

ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=YourStrong!Passw0rd

ConnectionStrings__DefaultConnection=Server=mssql,1433;Database=fooddelivery;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True

ConnectionStrings__AzureServiceBus=Endpoint=sb://servicebus-emulator;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;
